{{ define "main" }}
        <main>
                <div class="book-intro">{{ .Content }}</div>
                <ul class="book-list">
                        {{ range sort .Site.Data.books "date_read" "desc"}}
                                <li class="book">
                                        {{ if isset . "store_url" }}
                                                <h2 class="book-title">
                                                        <a href="{{ .store_url }}">{{ .title }}</a>
                                                </h2>
                                        {{ else }}
                                                <h2 class="book-title">{{ .title }}</h2>
                                        {{ end }}
                                        <h3 class="book-author">by {{ .author }}</h3>
                                        {{ if isset . "comments" }}
                                                <p class="book-comments">{{ .comments }}</p>
                                        {{ end }}
                                </li>
                        {{ end }}
                </ul>
        </main>
{{ end }}
