/* Global Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: #2b2b2b;
  text-align: left;
  vertical-align: baseline;
}

/* Style Common Elements */
h1, h2, h3 {
  position: relative;
  font-weight: bold;
  margin: 20px 0;
  padding: 0 10px 0 15px;
  border-left: 5px solid #f59e00;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
    font-size: 20px;
    margin: 0px 10px 25px 20px;
    line-height: 30px;
}

a {
  color: #307EA9;
  text-decoration: none;
}

a:hover { color: #307EA9; }

a:visited { color: #307EA9; }

/* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both;
}

/* Header */
.header {
  font-weight: bold;
  width: 650px;
  margin: auto;
  border-bottom: 1px solid #ddd;
}

.header > .logo {
  float: left;
  font-size: 30px;
  margin: 10px;
  transition: color 0.5s;
  color: #2b2b2b
}

.header > .logo:hover {
  color: #307EA9;
  transition: color 0.5s;
}

.header > .header-nav {
  float: right;
}

.header > .header-nav > ul {
  list-style: none;
}

.header > .header-nav > ul > li {
  float: left;
  margin: 24px 10px 10px 10px;
}

.header > .header-nav > ul > li > a {
  font-size: 14px;
  text-transform: uppercase;
  color: #2b2b2b;
  transition: color 0.5s;
}

.header > .header-nav > ul > li > a:hover {
  color: #307EA9;
  transition: color 0.5s;
}

/* Pages */
.content {
  width: 650px;
  margin: auto;
}



