
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 18px Helvetica, Arial, sans-serif;
  color: #2b2b2b;
  text-align: left;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

a {
  color: #307EA9;
  text-decoration: none;
}

a:hover   { color: #307EA9; }

a:visited { color: #307EA9; }

/* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both;
}

/* Header */
.header {
  font-weight: bold;
}

.header > .container {
  width: 650px;
  margin: auto;
  border-bottom: 1px solid #ddd;
}

.header > .container > .logo {
  float: left;
  font-size: 30px;
  margin: 10px;
  transition: color 0.5s;
}

.header > .container > .logo:hover {
  color: #307EA9;
  transition: color 0.5s;
}

.header > .container > .header-nav {
  float: right;
}

.header > .container > .header-nav > ul {
  list-style: none;
}

.header > .container > .header-nav > ul > li {
  float: left;
  margin: 24px 10px 10px 10px;
}

.header > .container > .header-nav > ul > li > a {
  font-size: 14px;
  text-transform: uppercase;
  color: #2b2b2b;
  transition: color 0.5s;
}

.header > .container > .header-nav > ul > li > a:hover {
  color: #307EA9;
  transition: color 0.5s;
}
