<ul class="list">
        {{ range .Data.Pages }}
                <li class="list-item">
                        <div class="date">
                                {{ .Date.Format "January 2, 2006" }}
                        </div>

                        <h2 class="title">
                                <a href="{{ .URL }}">
                                        {{ .Title }}
                                </a>
                        </h2>
                        <div class="subtitle">
                                {{ .Description }}
                        </div>
                </li>
        {{ end }}
</ul>
