{{ define "main" }}
        <article>
                <h1>
                        {{ .Title }}
                </h1>
                <div class="flex flex-wrap text-sm text-gray-700 mb-8">
                        {{ with .PublishDate }}
                                <div class="mr-3">
                                        Created: {{ dateFormat "Jan. 2, 2006" . }}
                                </div>
                        {{ end }}
                        {{ with .Lastmod }}
                                <div>
                                        Modified: {{ dateFormat "Jan. 2, 2006" . }}
                                </div>
                        {{ end }}
                </div>
                <div>
                        {{ .Content }}
                </div>
        </article>
{{ end }}
