<footer class="flex flex-col items-center flex-shrink-0 mt-16 text-xs">
        <div class="">
                &copy; {{ now.Format "2006" }}
        </div>
        <div class="flex">
                <div class="mx-1">
                        {{ .Site.Params.Author }}
                </div>
                <div class="mx-1">
                        &middot;
                </div>
                <div class="mx-1">
                        {{ .Site.Params.City }}
                </div>
                <div class="mx-1">
                        &middot;
                </div>
                <div class="mx-1">
                        <a href="mailto:{{ .Site.Params.Email }}">Contact</a>
                </div>
        </div>
</footer>
