<header class="flex flex-col items-center mb-8">
        <a class="text-5xl font-logo text-blue-700 no-underline" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        <nav class="flex text-xl">
                {{ $currentPage := . }}
                {{ $menuCount := sub (len .Site.Menus.main) 1 }}
                {{ range $index, $element := .Site.Menus.main }}
                        <a class="mx-1 text-gray-900 no-underline {{ if $currentPage.IsMenuCurrent "main" . }}text-blue-700{{ end }}" href="{{ $element.URL }}">
                                {{ $element.Name }}
                        </a>
                        {{ if ne $index $menuCount }}
                                <div class="mx-1">
                                        &middot;
                                </div>
                        {{ end }}
                {{ end }}
        </nav>
</header>
