@import-normalize;

:root {
  /* COLORS */
  --white: #fff;
  --scienceBlue: #0044e2;
  --doveGray: #676767;
  --linkColor: var(--scienceBlue);
  --linkColorHover: color(var(--linkColor) tint(20%));

  /* SPACING */
  --spacerBase: 20px;
  --spacerTriple: calc(var(--spacerBase) * 3);
  --spacerThird: calc(var(--spacerBase) / 3);

  /* TYPOGRAPHY */
  --fontLato: "Lato", sans-serif;
  --fontPoiret: "Poiret One", sans-serif;
  --fontSourceCodePro: "Source Code Pro", monospace;
  --fontWeightNormal: 400;
  --lineHeightHeader: 1.2;
  --fontSizeBase: 18px;
  --fontSizeXXXL: 55px;
  --fontSizeXXL: 32px;
  --fontSizeXL: 24px;
  --fontSizeL: 21px;
  --fontSizeS: 16px;
  --fontSizeXS: 14px;

  /* MOBILE */
  --mobileMultiplier: 0.8;
}

html {
  height: 100%;
}

body {
  font-family: var(--fontLato);
  font-size: var(--fontSizeBase);
  font-weight: var(--fontWeightNormal);
  line-height: 1.5;
  color: var(--doveGray);
  background-color: var(--white);
  height: 100%;
  max-width: 550px;
  margin: 0 auto;
  padding: 0 var(--spacerBase);
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: var(--spacerThird);
  font-weight: var(--fontWeightNormal);
  line-height: var(--lineHeightHeader);
}

h1 {
  font-size: var(--fontSizeXXXL);
}

h2 {
  font-size: var(--fontSizeXXL);
}

h3 {
  font-size: var(--fontSizeXL);
}

h4 {
  font-size: var(--fontSizeL);
}

p {
  margin-top: 0;
  margin-bottom: var(--spacerBase);
}

ol, ul {
  margin-top: 0;
  margin-bottom: var(--spacerBase);
}

a {
  color: var(--linkColor);
  text-decoration: underline;
}

a:hover {
  color: var(--linkColorHover);
  text-decoration: underline;
}

code {
  font-family: var(--fontSourceCodePro);
}

.header {
  padding: var(--spacerBase) 0 var(--spacerTriple) 0;

  & .logo {
    text-align: center;
    margin-bottom: var(--spacerBase);
    font-family: var(--fontPoiret);
    letter-spacing: 2px;

    & a {
      text-decoration: none;
    }
  }

  & .nav {
    display: flex;
    justify-content: center;
    font-size: var(--fontSizeL);

    & .nav-item {
      margin: 0 var(--spacerThird);

      & a {
        color: var(--doveGray);
        text-decoration: none;

        &:hover {
          color: var(--linkColorHover);
          border-bottom: 2px solid var(--linkColorHover);
        }
      }

      &.active a {
        color: var(--scienceBlue);

        &:hover {
          color: var(--linkColorHover);
        }
      }
    }
  }
}

.main {
  flex: 1 0 auto;

  & .single {
    & .headline {
      margin-bottom: var(--spacerBase);

      & .title {
        color: var(--scienceBlue);

        & a {
          text-decoration: none;
        }
      }

      & .subtitle {
        font-size: var(--fontSizeXL);
        margin-bottom: var(--spacerThird);
        line-height: var(--lineHeightHeader);
      }

      & .date {
        font-size: var(--fontSizeS);
        margin-bottom: var(--spacerThird);
      }
    }
  }

  & .list, & .book-list {
    list-style: none;
    padding: 0;

    & .list-item, & .book {
      margin-bottom: var(--spacerTriple);

      & .title {
        & a {
          text-decoration: none;
        }
      }

      & .subtitle, & .author {
        font-size: var(--fontSizeXL);
        margin-bottom: var(--spacerThird);
        line-height: var(--lineHeightHeader);
      }

      & .date {
        font-size: var(--fontSizeS);
        margin-bottom: var(--spacerThird);
      }
    }
  }

  & .book-intro {
    margin-bottom: var(--spacerTriple);
  }

  & .four-o-four {
    text-align: center;

    & .title {
      font-size: var(--fontSizeXXL);
    }
  }
}

.footer {
  flex-shrink: 0;
  font-size: var(--fontSizeXS);
  padding: var(--spacerTriple) 0 var(--spacerBase) 0;

  & .copyright {
    text-align: center;
  }

  & .attribution {
    display: flex;
    justify-content: center;

    & .separator, & .author, & .city, & .contact {
      margin: 0 2px;
    }
  }
}

@media (max-width: 450px) {
  body {
    font-size: calc(var(--fontSizeBase) * var(--mobileMultiplier));
  }

  h1 {
    font-size: calc(var(--fontSizeXXXL) * var(--mobileMultiplier));
  }

  h2 {
    font-size: calc(var(--fontSizeXXL) * var(--mobileMultiplier));
  }

  h3 {
    font-size: calc(var(--fontSizeXL) * var(--mobileMultiplier));
  }

  h4 {
    font-size: calc(var(--fontSizeL) * var(--mobileMultiplier));
  }

  .header {
    padding-bottom: calc(var(--spacerTriple) * var(--mobileMultiplier));
  }

  .main {
    & .single {
      & .headline {
        & .subtitle {
          font-size: calc(var(--fontSizeXL) * var(--mobileMultiplier));
        }

        & .date {
          font-size: calc(var(--fontSizeS) * var(--mobileMultiplier));
        }
      }
    }

    & .list, & .book-list {
      & .list-item, & .book {
        margin-bottom: calc(var(--spacerTriple) * var(--mobileMultiplier));

        & .subtitle, & .author {
          font-size: calc(var(--fontSizeXL) * var(--mobileMultiplier));
        }

        & .date {
          font-size: calc(var(--fontSizeS) * var(--mobileMultiplier));
        }
      }
    }

    & .book-intro {
      margin-bottom: calc(var(--spacerTriple) * var(--mobileMultiplier));
    }
  }

  .footer {
    padding-top: calc(var(--spacerTriple) * var(--mobileMultiplier));
    font-size: calc(var(--fontSizeXS) * var(--mobileMultiplier));
  }
}
