{{ define "main" }}
        <div class="">{{ .Content }}</div>
        <ul>
                {{ range sort .Site.Data.books "date_read" "desc"}}
                        <li class="flex flex-col sm:flex-row my-10">
                                <img class="w-32 h-full rounded-sm flex-shrink-0 mb-1" src="{{ .cover_url }}" alt="{{ .title }} cover">
                                <div class="sm:ml-4">
                                        {{ if isset . "store_url" }}
                                                <h2 class="mb-0">
                                                        <a class="no-underline" href="{{ .store_url }}">{{ .title }}</a>
                                                </h2>
                                        {{ else }}
                                                <h2 class="mb-0">{{ .title }}</h2>
                                        {{ end }}
                                        <div class="text-xl">by {{ .author }}</div>
                                        {{ if isset . "comments" }}
                                                <p>{{ .comments }}</p>
                                        {{ end }}
                                </div>
                        </li>
                {{ end }}
        </ul>
{{ end }}
