<header>
        <h1 class="site-title">
                <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </h1>
        <nav class="main-nav">
                <ul>
                        {{ $currentPage := . }}
                        {{ $menuCount := sub (len .Site.Menus.main) 1 }}
                        {{ range $index, $element := .Site.Menus.main }}
                                <li class="{{ if $currentPage.IsMenuCurrent 'main' . }}active{{ end }}">
                                        <a href="{{ $element.URL }}">
                                                {{ $element.Name }}
                                        </a>
                                </li>
                                {{ if ne $index $menuCount }}
                                        <li>
                                                &middot;
                                        </li>
                                {{ end }}
                        {{ end }}
                </ul>
        </nav>
</header>
